// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$color-body:#444444;
$color-a:#006fbe;
$color-a-hover:#008df1;
$white:#fff;
$color-logo: #24325d;
$blue-coi:#b4e0ff;
$white-koi:#ddd;
$color-footer:#1d284b;
$blue-xui:#007ed8;
